body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 25px;
    font-size: 36px;
    color: #38bdf8;
}

.subtitle {
    color: #94a3b8;
    margin-bottom: 25px;
    font-size: 14px;
}

.box {
    background: #1e293b;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

input {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    background: #0284c7;
    border: none;
    padding: 14px 18px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 5px;
}

button:active {
    transform: scale(0.97);
}

.danger {
    background: #dc2626;
}

p {
    color: #cbd5e1;
}

#dayCount {
    color: #22c55e;
}